.test-component {
    margin-bottom: 2em;
    width: 75%;
    position: relative;
    max-width: 60em;

    /* border: 1px solid red; */
}

.test-component-spacing {
    padding-right: 1.5em;
}

.test-component button {
    background-color: #EC621D;
    color: white;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;

}

.width-50 {
    width: 70em;
    padding-left: 2em;
}

.test-component-content-container {
    display: flex;
    flex-direction: column;
    /* border-radius: 1em; */
    padding: 0.5em;
    max-height: 35em;
    font-weight: 600;
    /* box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25); */
    width: 300px;
    margin-top: 2em;
    background-color: white;
    padding-left: 2em;

}

/* pricing section for the Home page */
.pricing-content ul {
    list-style: none;
    line-height: 2em;
    margin-left: -2.5em;
    font-weight: bold;
}

.pricing-list-image {
    width: 40px;
    height: 40px;
    margin-right: 1em;

}

.pricing-content li {
    /* border: 1px solid red; */
    margin-top: 1.5em;
    display: flex;
}

/* teams grey background */
.schedule-paragraphs {
    font-weight: 500;
    /* border: 1px solid red; */
}

/* !!!!! */
@media only screen and (max-width: 768px) {
    .test-component {
        flex-direction: column;
        width: 85%;
        align-items: center;
    }

    .width-50 {
        width: 100%;
        padding-left: 0em;
    }

    /* .pricing-content ul {
        width: 100%;
    } */
}