.article {
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 75%;
    /* border: 1px solid red; */
    max-width: 80em;

}

/* .article-content {
    max-width: 60%;
} */

.article-content p,
li,
h2,
h1 {
    max-width: 90%;
    line-height: 1.5em;
}

.article-content p,
ul {
    line-height: 1.5em;
}

.article-content h2 {
    margin: 0;
    line-height: 1.5em;
}

/* Styles for team page */
.article-team-list {
    list-style: none;
    font-weight: bold;
    line-height: 2em;
    margin-left: -2.5em;


}

.article-team-list-item {
    list-style: none;
    font-weight: bold;
    margin-top: 1.5em;
    display: flex;
    /* margin-top: 1em; */
}


.article-team-list img {
    width: 40px;
    height: 40px;
    margin-right: 1em;
}









.TEMP-pricing-content {
    width: 75%;
}

.TEMP-pricing-content ul {
    /* line-height: 2em; */
    margin-left: -1.5em;
    /* font-weight: bold; */
    width: 100%;
    /* border: 1px solid red; */
}

.TEMP-pricing-content p,
ul {
    line-height: 1.5em;
}


.pricing-list-image {
    width: 40px;
    height: 40px;
    margin-right: 1em;

}


.TEMP-pricing-content li {
    /* border: 1px solid red; */
    margin-top: 1.5em;
    display: flex;
}






























/* Media Queries */


@media only screen and (max-width: 768px) {

    /* Adjust the width for mobile devices */
    .article-content p,
    li,
    h2 {
        max-width: 100%;
    }
}