.courseSchedule {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: 75%;
    /* border: 1px solid red; */
    max-width: 60em;

}

.courseSchedule p,
li,
h4 {
    max-width: 60%;
}

.courseSchedule p,
ul,
h4 {
    /* line-height: 1.4em; */

}

.courseSchedule h2,
h4 {
    margin-bottom: 0;
}


@media only screen and (max-width: 768px) {

    /* Adjust the width for mobile devices */
    .courseSchedule p,
    li,
    h2 {
        max-width: 100%;
    }
}