.calendar {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    /* border: 1px solid red; */
    max-width: 80em;
    margin-top: 1em;
}

#scheduleCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 20px;
    /* width: 100%; */
    margin: 5px 0;
}

.weekInfo {
    padding-left: 45px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.headerTitle {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;  
    padding-left: 10px;
    /* font-size: 17px; */
    padding: 0.5em 0;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 7px;
}


.scheduleIconImg {
    padding: 0 10px;
    transition: transform 0.3s ease;
}

.scheduleIconImg.rotated {
    transform: rotate(90deg); /* 90-degree rotation */
  }

.clickDetails {
    font-weight: 400;
    text-decoration: underline;
}


    
.subTitle, .topicDetails {
    padding: 15px 30px 15px;
    display: flex;
    border-radius: 10px;
    background-color: white;  
    /* font-weight: 700; */
    margin-bottom: 7px;
}


.topicDetails {
    display: flex;
    flex-direction: column;
    padding: 15px 30px 25px;
    
}

.optionDate {
    font-weight: 500;
    padding-right: 20px;
}

.optionTitle {
    font-weight: 700;
}

.topicDetails > ul, .topicDetails > li{
    line-height: 25px;
}

.topicDetails > ul {
    padding-left: 15px;
    margin: 0.5rem;
} 

.topicDetails > li {
    padding-left: 4em;
    text-indent: -1.5em;
    list-style-position: outside;
    max-width: 100%;
}









@media only screen and (max-width: 768px) {

    /* Adjust the width for mobile devices */
    .courseSchedule p,
    li,
    h2 {
        max-width: 100%;
    }
}