.pricing {
    display: flex;
    width: 75%;
    margin: 0 auto;
    max-width: 80em;
    margin-bottom: 3em;

}

.pricing-content ul {
    list-style: none;
    line-height: 2em;
    margin-left: -2.5em;
    font-weight: bold;
    width: 150%;
    /* border: 1px solid red; */
}

.pricing-content h2 {
    max-width: 100%;
}

.pricing-list-image {
    width: 40px;
    height: 40px;
    margin-right: 1em;

}


.pricing-content li {
    /* border: 1px solid red; */
    margin-top: 1.5em;
    display: flex;
    align-items: center;
}

/* @media only screen and (max-width: 768px) {
    .pricing {
        flex-direction: column;
    }

    .pricing-content {
        width: 100%;
        align-items: center;
    }

    .pricing-content ul {
        width: 100%;
    }
} */


@media only screen and (max-width: 768px) {
    .test-component {
        flex-direction: column;
        width: 75%;
        align-items: center;
    }

    /* .pricing-content ul {
        width: 100%;
    } */
}