.modal {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    /* currently only 1 cochort to join */
    /* max-height: 25em; */
    /* when there's 3 cohorts to join */
    max-height: 35em;
    font-weight: 600;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.25);
    width: 300px;
    margin-top: 2em;
    background-color: white;
}

.modal-container {
    position: absolute;
    bottom: 65%;
    left: 65%;
    /* Start from the middle */
}

/* keep this */
.modal-image {
    width: 18em;

}

.cohort-paragraphs>p {
    /* border: red solid 2px; */
    margin: 0;
}

.cohort-1 {
    display: flex;
    align-items: center;
    padding: 0.75em 0;
    justify-content: space-between;
}

.cohort-paragraphs {
    padding-right: 2em;
    font-weight: 600;
    color: black;
}

a {
    color: black;
}



.cohort-1 button {
    background: #9B0E5B;
    color: white;
    width: 120px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;

}

.modal-button-link {
    color: white;
    text-decoration: none;
}


.green-team-button {
    width: 300px;
    background-color: #016267;
    padding: 10px;

}

@media only screen and (max-width: 768px) {
    .modal {
        width: 20em;
        align-items: center;

    }

    .pricing-content {
        width: 100%;
        align-items: center;
    }

    .pricing-content ul {
        width: 100%;
    }
}