/* Basic styles for the header */
.header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 75%;
  max-width: 80em;
  font-weight: bold;
}

.header-background {
  background-color: rgb(225, 221, 221);
  padding-top: 2em;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Logo styles */
.header-logo {
  width: 10em;
}

/* Link styles */
.header-nav a {
  color: #016267;
  font-weight: bold;
  text-decoration: none;
}

/* Default styles for the links */
.header-links {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  color: #016267;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #016267;
  transition: 0.3s;
}

/* Responsive styles for smaller screens */
/* Updated styles for the header-links in mobile view */
@media (max-width: 768px) {
  .header-links {
    display: none; /* Hide links on mobile by default */
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px 0px 20px 25px; /* Equal padding on all sides */
    width: auto; /* Set width to auto to accommodate the longest text */
    min-width: 200px; /* Optional: set a minimum width */
  }

  .header-links.open {
    display: flex; /* Show links when menu is open */
  }

    .header-links a {
        padding: 10px 10px 10px 10px; /* Reduce padding on the right */
        text-align: left; /* Align text to the left */
        width: 100%; /* Make the link take up the full width of the container */
        white-space: nowrap; /* Prevent text wrapping */
        text-decoration: none; /* Remove default underline */
        color: #016267; /* Link color */
    }

    .header-links a:hover,
    .header-links a:active {
        text-decoration: underline; /* Add underline on hover and active */
    }


  .hamburger {
    display: flex; /* Show hamburger icon on mobile */
  }

  .header-nav {
    flex-direction: row;
  }
}

/* Styling for the Hero section */
.hero {
  display: flex;
}

.hero img {
  width: 10em;
  height: auto;
  margin: 0 1em 0 0;
}

.hero-paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 800;
}

/* Styles for the main heading and subtitle */
h1 {
  font-size: 3em;
  margin: 1em 0 0 0;
}

.online-course {
  font-size: 1.5em;
  margin-top: 0;
}
