.horizontalCohortSelector {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    /* currently only 1 cochort to join */
    /* max-height: 25em; */
    /* when there's 3 cohorts to join */
    /* max-height: 35em; */
    font-weight: 600;
    background-color: white;
    /* border: 1px solid red; */
    max-width: 60em;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 1em;
}

.horizontalCohortSelector-container {
    display: flex;
    flex-direction: column;
    padding: 0.25em 0 0 0;
}

.cohort-1-container {
    display: flex;
}

.horizontal-cohort-paragraphs>p {
    /* border: red solid 2px; */
    margin: 0;
}

.horizontal-cohort-1 {
    display: flex;
    align-items: center;
    padding: 0.75em 2.5em 0.75em 0;
    justify-content: space-between;
}

.horizontal-cohort-paragraphs {
    padding-right: 1.5em;
    font-weight: 600;
    color: black;
}

a {
    color: black;
}

.horizontal-cohort-1 button {
    background: #9B0E5B;
    color: white;
    width: 120px;
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 700;

}

.green-team-button {
    width: 300px;
    background-color: #016267;
    padding: 10px;

}



@media only screen and (max-width: 768px) {
    .horizontalCohortSelector {
        display: flex;
        width: 85%;
        /* padding: 0px; */
    }

    .horizontalCohortSelector-container {
        display: flex;
        padding: 0.25em 0 0 0;
        flex-direction: column;
        align-items: left;
    }

    .cohort-1-container {
        display: flex;
        flex-direction: column;
    }

    .horizontal-cohort-1 {
        padding: 0.75em 0em 0.75em 0;
        max-width: 17.5em;
    }

}