.GreenArticle {
    background-color: #016267;
    color: white;
    margin: 0 auto;
    /* border: 1px solid yellow; */
    margin-bottom: 3em;


}

.GreenArticle-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    height: 18em;
    justify-content: center;
    /* align-items: center; */
    max-width: 60em;

}

.GreenArticle-content p {
    font-weight: bold;
    line-height: 1.5em;
    max-width: 60%;
    font-size: 20px;
}

.GreenArticle-content h1 {
    font-weight: bold;
    max-width: 60%;
    margin-top: 0;
}

/* Mobile full width for articles */

@media only screen and (max-width: 768px) {

    .GreenArticle-content {
        width: 85%;
        height: 14em;
    }

    /* Adjust the width for mobile devices */
    .GreenArticle-content p {
        max-width: 100%;
        font-size: 15px;
    }

    .GreenArticle-content h1 {
        max-width: 100%;
    }
}