.right-content {
    background-color: #F4F4F4;
    border: 1px solid #F4F4F4;
    /* margin: 0 auto; */
}

.right-content-container {
    display: flex;
    margin: 0 auto;
    width: 75%;
    /* border: 2px solid red; */
    max-width: 60em;
    /* margin-top: 4em;
    margin-bottom: 4em; */

}

.right-content-image {
    width: 15em;
    margin: 1em;

}

.right-content li {
    max-width: 100%;
}


.outcomes-to-topics-link {
    font-weight: 700;
    /* text-decoration: none; */
    /* margin-bottom: 10px; */
}

@media only screen and (max-width: 768px) {

    /* Adjust the width for mobile devices */
    .article-content p,
    li,
    h2 {
        max-width: 100%;
    }

    .right-content-image {
        display: none;
    }
}