.testimonials {
    /* lightgray 50% / cover no-repeat; */
    border: 2px solid transparent;
    background-color: rgb(192, 36, 119);
    margin: 0 auto;
}

.testimonials-content {

    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 2em auto;
    /* border: 1px solid red; */
    max-width: 60em;

}

.testimonials-test {
    width: 50%;
    background-color: white;
    border-radius: 10px;
    padding: 45px 45px 25px 25px;
    height: auto;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
}

.testimonials-star {
    width: 8em;
    position: absolute;
    top: -13%;
    /* Moves the image upwards by 20% of its height */
    left: 18%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 768px) {
    .testimonials-content {
        width: 85%;
    }

    /* Adjust the width for mobile devices */
    .testimonials-test {
        width: 85%;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
        padding: 30px 30px 25px 25px;
    }

    .testimonials-star {
        width: 8em;
        position: absolute;
        top: -13%;
        /* Moves the image upwards by 20% of its height */
        left: 23%;
        transform: translateX(-50%);
    }


}