body {
  /* width: 80%;
  border: 1px solid red;
  margin: 0 auto; */
  font-family: "Open Sans", sans-serif;
}

/* UNIVERSAL1.3em for p */
* p {
  line-height: 1.5em;
}

* span {
  line-height: 1.5em;
}

h3,
h4 {
  line-height: 1.5em;
}

.calendar-container {

  margin: 0 auto;
  width: 75%;
  max-width: 60em;
  /* font-weight: bold; */
  margin-bottom: 3em;
}

.container {
  display: flex;
  width: 75%;
  margin: 0 auto;
  max-width: 80em;
}

/* .sub-container {} */
/* for mobile maybe change the width on all elements to 90% */

.btn {
  color: white;
  border: 2px solid black;
  border-radius: 6px;
  font-weight: 700;
}

.btn-shadow {
  box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8 8 8), -1px -1px 0px 0px rgb(8 8 8),
    1px -1px 0px 0px rgb(0 0 0), -1px 1px 0px 0px rgb(0 0 0),
    -6px 6px 0px 0px rgb(0 0 0);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -6px 6px 0px 0px rgba(0, 0, 0, 1);
  position: relative;
}

.btn-shadow:hover {
  box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8),
    -1px -1px 0px 0px rgb(8, 8, 8), 1px -1px 0px 0px rgb(0, 0, 0),
    -1px 1px 0px 0px rgb(0, 0, 0), -3px 3px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 0px 0px rgb(8, 8, 8), -1px -1px 0px 0px rgb(8, 8, 8),
    1px -1px 0px 0px rgb(0, 0, 0), -1px 1px 0px 0px rgb(0, 0, 0),
    -3px 3px 0px 0px rgba(0, 0, 0, 1);
  top: 3px;
  left: -3px;
}



.max-width-90 {
  max-width: 90%;

}

.margin-right-10 {
  margin-right: 10em;
}


.purchase-box-button-white {
  color: white;
  text-decoration: none;
}

/* button styles for monthly cohort page */





/*!MOBILE STYLES */

@media only screen and (max-width: 768px) {
  .calendar-container {

    width: 85%;

  }

}