.purchase-box img {
    width: 15em;
}

.purchase-box-button {
    background: #016267;
    padding: 0.5em;
    width: 100%;
}

.purchase-box-button-white {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {

    .purchase-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        /* border: 1px solid red; */
    }

    .purchase-box img {
        /* border: 1px solid red; */
        width: 80%;
    }

}