.purchase-box img {
    width: 15em;
}

.purchase-box-button {
    background: #016267;
    padding: 0.5em;
    width: 100%;
}

.purchase-box-button-white {
    color: white;
    text-decoration: none;
}